PA, PL, PR {
  display: block;
  white-space: pre;
}

PL, LRE, LRO, LRI {
  direction: ltr;
}

PR, RLE, RLO, RLI {
  direction: rtl;
}

LRE, RLE {
  unicode-bidi: embed;
}

LRO, RLO {
  unicode-bidi: bidi-override;
}

LRI, RLI {
  unicode-bidi: -moz-isolate;
  unicode-bidi: -ms-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
}

PA, FSI {
  unicode-bidi: -moz-plaintext;
  unicode-bidi: -ms-plaintext;
  unicode-bidi: -webkit-plaintext;
  unicode-bidi: plaintext;
}
